<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HRMS</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>


	{% extends "base_dashboard.html"%}

	{% block content%}
	<div id="body">
		
		<ul>
				<li>
						<a href="/leave">
							<img src="../static/images/leave.png" height="250" width="300" alt="">
							<span>Leave</span>
						</a>
					</li>
					<li>
							<a href="gallery.html">
								<img src="../static/images/attendance.jpeg" height="250" width="300" alt="">
								<span>Attendance</span>
							</a>
						</li>
				<li>
						<a href="gallery.html">
							<img src="../static/images/salary.png" height="250" width="300" alt="">
							<span>Salary</span>
						</a>
					</li>
			<li>
				<a href="/reimbursement">
					<img src="../static/images/reim.jpeg" height="250" width="300"alt="">
					<span>Reimbursement</span>
				</a>
			</li>
			<li>
				<a href="gallery.html">
					<img src="../static/images/perform.jpeg" height="250" width="300"alt="">
					<span>Performance</span>
				</a>
			</li>
			<li>
				<a href="{{url_for('profile.onboarding')}}">
					<img src="../static/images/onboarding.png" height="250" width="300"alt="">
					<span>Onboarding</span>
				</a>
			</li>
		</ul>
	</div>

	{% endblock content %}
	
</body>
</html>
