<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <style>
        #body {
            margin-top: 0px;
        }
    </style>
    <title>Leave</title>
</head>

<body>
    {% extends "base_dashboard.html"%}
    
    {% block content%}

    <!-- {% with messages = get_flashed_messages()%}
    {% if messages %}
    <div class="card shadow mx-auto p-1" style="max-width: 30rem; text-align: center; margin-top: 30px;">
        <div>
            {{ messages[0]}}
        </div>

    </div>
    {% endif %}
    {% endwith %} -->

    <div id="body">
        <ul>
            <li>
                <div class="card shadow border-primary mb-3 mx-3" style="max-width: 18rem;">
                    <div class="card-header"><b>Annual Leaves</b></div>
                    <div class="card-body text-primary">

                        <p class="card-text">Currently Availale 00</p>
                        <p class="card-text">Total Allotted 32</p>
                    </div>
                </div>
            </li>

            <li>

                <div class="card shadow border-primary mb-3 mx-3" style="max-width: 18rem;">
                    <div class="card-header"><b>Paternal Leaves</b></div>
                    <div class="card-body text-primary">
                        <p class="card-text">Currently Availale 28</p>
                        <p class="card-text">Total Allotted 28</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card shadow border-primary mb-3 mx-3" style="max-width: 18rem;">
                    <div class="card-header"><b>Matrimony Leaves</b></div>
                    <div class="card-body text-primary">
                        <p class="card-text">Currently Availale 5</p>
                        <p class="card-text">Total Alloted 5</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card mx-auto shadow p-3" style="width: 60rem;text-align: center;">
        <div class="card-header mb-3">
            <div class="col">
                <h2><b>Apply For leave</b></h2>
            </div>
        </div>
        <br>
        <div>
            <form action="/leaveprocess" method="POST">
                <div class="form-row">
                    <div class="col-5">
                        <label for="type">Leave Type</label>
                        <select id="type" class="form-control" name="leave_type" required>
                            <option selected>Annual Leaves</option>
                            <option>Paternal Leaves</option>
                            <option>Matrimony Leaves</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label>Start</label>
                        <input type="date" class="form-control" placeholder="start_date" name="start_date" required>
                    </div>
                    <div class="col">
                        <label>End</label>
                        <input type="date" class="form-control" placeholder="end_date" name="end_date" required>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="comment">Message</label>
                    <textarea class="form-control" id="comment" rows="3" name="comments" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Send Request</button>
            </form>
        </div>
    </div>


    </div>
    {% endblock content%}
</body>

</html>