{% extends "base_dashboard.html" %}

{% block content %}

<div class="card mx-auto shadow p-3" style="width: 30rem;text-align: center; margin-top: 150px;">
    <img src="../static/images/logo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Employee Onboarding</h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <br>
      <form action="{{url_for('profile.onboard_processing')}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" class="form-control-file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
  </div>

{% endblock content %}