{% extends "base_dashboard.html" %}

{% block content %}
<!-- 
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success card mx-auto shadow p-1" style="max-width: 30rem;text-align: center; margin-top: 30px;">
  <div>
      {{ messages[0]  }}
  </div>
</div>

{% endif %}
{% endwith %} -->



<div class="card mx-auto shadow p-3" style="width: 50rem;text-align: center; margin-top: 130px;">
  <div>
    <h2 class="card-header mb-5">Reimbursement form</h2>
  </div>
  <div>
    <form action="/reimbursement/success" method="POST">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Title" name="title" required>
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col">
          <label for="request_type">Reimbursement Type</label>
          <select id="request_type" name="type" class="form-control" required>
            <option selected>Reimbursement</option>
            <option>Acoount Related</option>
          </select>
        </div>
        <div class="col">
          <label>Date</label>
          <input type="date" name="date" class="form-control" required>
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col-6">
          <label>Amount</label>
          <input type="number" name="amount" class="form-control" placeholder="Example: Rs.1500" required>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea class="form-control" name="comment" id="comments" rows="3" required></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Send Request</button>
    </form>
  </div>
</div>

{% endblock content %}